<div class="term-container">
  
      <div class="search-word"><%= @word %> </div>     
      <h4> definition: </h4> 
      <dl>
        <dt></dt>
        <dd class="description-word"><%= @defini %></dd>        
      </dl>
      
   
</div>